<style>
    ul.nav.nav-tabs {
        clear: both;
    }
    ul.nav.nav-tabs li {
        list-style: none;
        float: left;
    }   
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
        .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }     
              .nav-tabs>li>a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }
    .nav>li {
        position: relative;
        display: block;
    }
    .nav-tabs>li {
        float: left;
        margin-bottom: -1px;
    }
    .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
        display: table;
        content: " ";
    }
    .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
        clear: both;
    }   
    .nav-tabs {
        border-bottom: 1px solid #ddd;
    } 
    .tab-pane:not(.active) {
        display: none;
    }         
</style>

<script>
    jQuery(document).ready(function(){
     jQuery(".nav-tabs li.active").click(); 
         
      jQuery(".nav-tabs li").click(function(e){
    e.preventDefault();
          jQuery(".nav-tabs li").removeClass('active');
          jQuery(this).addClass('active');
         let tid=  jQuery(this).find('a').attr('href');
          console.log("ID:"+tid);
          jQuery('.tab-pane').removeClass('active in');
          jQuery(tid).addClass('active in');
      });
    });
</script>
<div class = "main">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#video">Video Recipe</a></li>
        <li><a data-toggle="tab" href="#text">Text Recipe</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="video" class="tab-pane fade in active">
            <iframe  width="100%", height="100%" class="myIframe" src='https://www.youtube.com/embed/{{yt_id}}'></iframe>
        </div>
                
        <div id="text" class="tab-pane fade">
            <iframe src='{{txt_url}}' title = '{{rcp_name}}' onload="iframeLoaded()" frameborder="0" height="500px" width="100%"></iframe>
        </div>
    </div>
    <div id="google_element"></div>
    <script src = "http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate(){
            new google.translate.TranslateElement("google_element");
        }
    </script>
</div>

{%endblock%}